<%- include('../header') %>

    <main>
        <form method="post" enctype="multipart/form-data">
            <div class="addproduct">
                <h2>เพิ่มรายการ สินค้า</h2>
                <div class="row">
                    <div class="input-group">
                        <h1>หมวดหมู่สินค้า</h1>
                        <div class="select">
                            <select name="type_product_id" class="select-box">
                                <% typeProducts.forEach((typeProduct)=> { %>
                                    <option value="<%= typeProduct.id %>">
                                        <% if (product.type_product_id==typeProduct.id) { %>

                                            <% } %>
                                                
                                                <%= typeProduct.type %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <h1>ประเภทสินค้า</h1>
                        <div class="select">
                            <select name="group_product_id" class="select-box">
                                <% groupProducts.forEach((groupProduct)=> { %>
                                    <option value="<%= groupProduct.id %>">
                                        <% if (product.group_product_id==groupProduct.id) { %>

                                            <% } %>
                                                
                                                <%= groupProduct.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <h1>Image Product</h1>
                        <div class="input-field">
                            <% if (product.img !=undefined) { %>
                                <img src="../images/<%= product.img %>" width="200px" />
                                <% } %>
                                    <input type="file" name="img" class="form-control" required
                                    oninvalid="setCustomValidity('product image is required')"
                                    oninput="setCustomValidity('')"/>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="input-group">
                            <div class="input-field">
                                <input type="text" name="name" placeholder="ชื่อสินค้า" value="<%= product.name %>" required
                                oninvalid="setCustomValidity('product name is required')"
                                oninput="setCustomValidity('')"/>
                            </div>
                            <div class="input-field">
                                <input type="text" name="price" placeholder="price" value="<%= product.price %>" required
                                oninvalid="setCustomValidity('product price is required')"
                                oninput="setCustomValidity('')"/>
                            </div>
                            <div class="input-field">
                                <input type="number" name="stock" placeholder="จำนวน" value="<%= product.stock %>"
                                    min="0" required
                                    oninvalid="setCustomValidity('stock is required')"
                                    oninput="setCustomValidity('')" />
                            </div>
                            <div class="input-field">
                                <textarea type="text" name="describe" rows="5" cols="50"
                                    placeholder="คุณสมบัติสินค้า" required
                                    oninvalid="setCustomValidity('describe is required')"
                                    oninput="setCustomValidity('')"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn">
                    <button type="submit" class="btns">
                        <i class="bi bi-bag-plus-fill"></i>
                        Add product
                    </button>
                </div>
        </form>
    </main>

    <%- include('../footer') %>