<%- include('../pageHeader') %>
<section> 
    <div class="blogcontent-container">
        <% blogs.forEach((blog)=> { %>
        <div class="blogcontent-box">
            <div class="blogcontent-img">
                <img src="../designimg/<%= blog.img %>" width="600px" alt="Blog">
            </div>
            <div class="blogcontent">
                <span>วันที่เขียนบทความ : <%= dayjs(blog.date).format(dayFormat) %></span>
                <h1 class="blog-title"><%= blog.title %></h1>
                <p><%- blog.detail %></p>
            </div>
        </div>
        <% }) %>
    </div>
</section>
<%- include('../pageFooter') %>