<%- include('../header') %>
<main>
    <div class="recent-orders">
                <h2>ผู้ใช้งานระบบ</h2>
            <a class="btn btn-info mt-3" href="/adduser">
                <span class="material-icons-sharp">
                    add
                    </span>
                 เพิ่มรายการ
            </a>
            <table class="table table-bordered table-striped mt-3">
                <thead>
                    <tr>
                        <th width="300px">Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Level</th>
                        <th width="170px"></th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((user)=> { %>
                        <tr>
                            <td>
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.username %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.level %>
                            </td>
                            <td>
                                <a class="btn btn-info" href="/edituser/<%= user.id %>">
                                    <i class='bx bx-edit icon'></i>
                                </a>
                                <a class="btn btn-danger" href="/deleteuser/<%= user.id %>" onclick="return confirm('คุณแน่ใจที่จะลบหรือไม่?')">
                                    <i class='bx bxs-trash icon' ></i>
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
    </div>
</main>
<%- include('../footer') %>